h1 {
  text-align: center;
}

div.year-title {
  width: 100%;
}

div.year-title h2 {
  background: #EEE;
  color: #111;
  text-align: center;
}

div.event {
  width: 100%;
  display: flex;
  flex-direction: row;
}

div.event .left,
div.event .right {
  width: 50%;
  padding: 10px;
}

div.event .left {
  text-align: right;
}
